.a {
  background-color: blue;
  height: 1000px;
  width: 1200px;
}

.flex {
  width: 500px;
  height: 500px;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 30px;
  margin: 0 auto;
}