body {
	@include font_family;
	color: #333333;
}

.p-header {
	height: 100vh;
  position: relative;

	&__wrap {
		position: absolute;
    top: 0;
    left: 0;
		right: 0;
		bottom: 0;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;

		> h1 {
			color: #333333;
			font-size: 80px;
			font-style: italic;
			@include mq(small) {
				font-size: 9px;
			}
		}
	}

	&__nav {
		margin-top: 50px;
	}

	&__list {
		width: 530px;
		display: flex;
		justify-content: space-around;
		margin: 0 auto;

		> li {
			font-size: 16px;
			font-weight: 200;
		}
	}

	&__icon {

		> svg {
			display: block;
			width: 70px;
			height: 70px;
		}

		> span {
			display: inline-block;
			margin-top: 10px;
		}
		
	}
	
}

.p-topMain {
	width: 1100px;
	margin: 0 auto;
	background-color: #F0F0F0;

	.p-profile {
		padding: 50px 100px;

		> h2 {
			font-size: 40px;
			font-weight: 200;
		}

		&__content {
			margin-top: 45px;
			padding: 0 10px;

			> dl {
				display: flex;
				flex-wrap: wrap;
			}

			dd, dt {
				display: inline-block;
			}

			dt {
				font-size: 14px;
				line-height: 1.7;
				width: 20%;
			}

			dd {
				font-size: 14px;
				line-height: 1.7;
				width: 80%;
				padding-bottom: 15px;
			}
		}

	}

	.p-works {
		padding: 50px 100px;

		> h2 {
			font-size: 40px;
			font-weight: 200;
		}

		&__list {
			margin-top: 45px;
			padding: 0 10px;
			list-style: none;
			
			> li {
				width: 70%;
				margin: 0 auto;
			}

			> li a {
				display: block;
				width: 100%;
			}
		}
	}
}
