/*
  接尾辞は各project名 (ex) kadel → -k
*/


/* -------------------
  hidari-kikino-eren
---------------------- */  

/*  特定のサイズのみ表示
-------------------------*/
.u-blockS-h {
  display: none !important;
  @include mq(s-h) {
    display: block !important;
  }
}

.u-blockM-h {
  display: none !important;
  @include mq(m-h) {
    display: block !important;
  }
}

.u-blockL-h {
  display: none !important;
  @include mq(l-h) {
    display: block !important;
  }
}

.u-blockXL-h {
  display: none !important;
  @include mq(xl-h) {
    display: block !important;
  }
}