@charset "UTF-8";
@media screen and (min-width: 800px) {
  .mod-displayNone_smallDesktop {
    display: none !important; } }

@media screen and (min-width: 800px) and (max-width: 1100px) {
  .mod-displayNone_mediumDesktop {
    display: none !important; } }

@media screen and (min-width: 1600px) {
  .mod-displayNone_wideDesktop {
    display: none !important; } }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: YakuHanJP,Noto Sans JP,sans-serif;
  font-weight: 500;
  line-height: 1;
  background-color: #e50013;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

img {
  width: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

button {
  outline: none;
  padding: 0;
  border: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

.btn {
  position: relative;
  border: solid .26667vw #fff;
  background-color: #000;
  -webkit-transition: background-color 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: background-color 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden; }
  @media screen and (min-width: 800px) {
    .btn {
      border: solid .06944vw #fff; } }
  .btn:before, .btn:after {
    position: absolute;
    content: '';
    display: block;
    width: 101%;
    height: 51%;
    background-color: #02d0d0;
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    transition: -webkit-transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 0; }
    @media screen and (min-width: 800px) {
      .btn:before, .btn:after {
        width: 51%;
        height: 102%;
        -webkit-transform: scaleY(0);
        transform: scaleY(0); } }
  .btn:before {
    top: 0;
    left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left; }
    @media screen and (min-width: 800px) {
      .btn:before {
        -webkit-transform-origin: bottom center;
        transform-origin: bottom center; } }
  .btn:after {
    top: auto;
    bottom: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right; }
    @media screen and (min-width: 800px) {
      .btn:after {
        right: 0;
        left: auto;
        -webkit-transform-origin: top center;
        transform-origin: top center; } }
  .btn:hover:before, .btn:hover:after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  .btn_inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 2; }
    .btn_inner > span {
      position: relative;
      color: #fff;
      font-size: 5.06667vw;
      letter-spacing: .16em;
      text-indent: .16em;
      -webkit-transition: color 0.4s cubic-bezier(0.19, 1, 0.22, 1);
      transition: color 0.4s cubic-bezier(0.19, 1, 0.22, 1);
      -webkit-transform: scaleX(0.85);
      transform: scaleX(0.85);
      z-index: 2; }
      @media screen and (min-width: 800px) {
        .btn_inner > span {
          -webkit-writing-mode: vertical-rl;
          -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
          text-align: center;
          letter-spacing: .2em;
          text-indent: .2em; } }
      @media screen and (min-width: 800px) and (max-width: 1100px) {
        .btn_inner > span {
          font-size: 1.40541vw; } }
    .btn_inner > svg {
      position: absolute;
      top: 0;
      right: auto;
      bottom: 0;
      left: 3.2vw;
      width: 5.33333vw;
      height: 3.06667vw;
      fill: #e50013;
      margin: auto;
      display: block;
      z-index: 2; }
      @media screen and (min-width: 800px) {
        .btn_inner > svg {
          left: .69444vw;
          width: 1.38889vw;
          height: .79861vw; } }
      .btn_inner > svg:hover {
        fill: #e50013;
        -webkit-transition-duration: .1s;
        transition-duration: .1s; }
  .btn_inner:hover > span {
    color: #e50013;
    -webkit-transition-duration: .1s;
    transition-duration: .1s; }
  @media screen and (min-width: 800px) {
    .btn:hover:before, .btn:hover:after {
      -webkit-transform: scaleY(1);
      transform: scaleY(1); } }

.btn.mod-vote {
  background-color: #02d0d0; }
  .btn.mod-vote span {
    color: #e50013; }
  .btn.mod-vote:before, .btn.mod-vote:after {
    background-color: #e50013; }
  .btn.mod-vote .btn_inner:hover > span {
    color: #02d0d0; }
  .btn.mod-vote .btn_inner:hover > svg {
    fill: #02d0d0; }

.btn.mod-sns .btn_inner:hover > svg {
  fill: #e50013; }

/*
以下のDOM構造で使用

<div class="btn">
  <a class="btn_inner" href="">
    <span>トップ</span>
    <svg>
      <use xlink:href="#arrow">
    </svg>
  </a>
</div>

*/
.tab {
  position: absolute;
  display: block;
  width: 45.33333vw;
  height: 100%;
  background-color: #000;
  padding: 1.2vw 1.2vw 0;
  top: 0;
  z-index: 2;
  -webkit-transition: background-color 0.4s cubic-bezier(0.19, 1, 0.22, 1), border-color 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: background-color 0.4s cubic-bezier(0.19, 1, 0.22, 1), border-color 0.4s cubic-bezier(0.19, 1, 0.22, 1); }
  .tab_inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: .26667vw #fff;
    border-style: solid solid none;
    overflow: hidden; }
    @media screen and (min-width: 800px) {
      .tab_inner:before, .tab_inner:after {
        position: absolute;
        content: '';
        display: block;
        width: 101%;
        height: 51%;
        background-color: #02d0d0;
        -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
        transition: -webkit-transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
        transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
        transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        z-index: 0; }
      .tab_inner:before {
        top: 0;
        left: 0;
        -webkit-transform-origin: center right;
        transform-origin: center right; }
      .tab_inner:after {
        top: auto;
        bottom: 0;
        -webkit-transform-origin: center left;
        transform-origin: center left; }
      .tab_inner:hover:before, .tab_inner:hover:after {
        -webkit-transform: scaleX(1);
        transform: scaleX(1); } }
    .tab_inner > span {
      color: #fff;
      -webkit-transform: scaleX(0.85);
      transform: scaleX(0.85);
      position: relative;
      z-index: 2;
      display: block;
      letter-spacing: .14em;
      font-weight: 500;
      font-size: 4.26667vw;
      white-space: nowrap;
      line-height: 1;
      -webkit-transition: color 0.4s cubic-bezier(0.19, 1, 0.22, 1);
      transition: color 0.4s cubic-bezier(0.19, 1, 0.22, 1); }
    .tab_inner > svg {
      position: absolute;
      top: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
      fill: #e50013;
      display: block;
      -webkit-transition: fill 0.4s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
      transition: fill 0.4s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
      transition: fill 0.4s cubic-bezier(0.19, 1, 0.22, 1), transform 0.4s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1);
      transition: fill 0.4s cubic-bezier(0.19, 1, 0.22, 1), transform 0.4s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
      z-index: 2;
      left: 1.46667vw;
      width: 3.6vw;
      height: 2.13333vw; }

.hidarikikinoEren {
  /* ------------------
		lp-loading 
--------------------- */
  /* ------------------
		lp-header 
--------------------- */
  /* ------------------
		lp-menuBtn
--------------------- */
  /* ------------------
		lp-menu
--------------------- */
  /* ------------------
		lp-main
--------------------- */
  /* ------------------
		lp-kv
--------------------- */
  /* ------------------
		lp-summery
--------------------- */
  /* ------------------
		lp-story
--------------------- */ }
  .hidarikikinoEren .lp-loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #e50013;
    z-index: 1000;
    -webkit-transition: visibility .2s linear, opacity .2s linear;
    transition: visibility .2s linear, opacity .2s linear; }
    .hidarikikinoEren .lp-loading_wrap {
      position: absolute;
      top: 26.93333vw;
      left: 50%;
      -webkit-transform: translate(-50%);
      transform: translate(-50%);
      width: 203.6vw;
      height: 112.26667vw; }
    .hidarikikinoEren .lp-loading_text {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      margin: 0 auto;
      background: url("../../../data/hidari-kikino-eren/images/loading_txt.png") 50% no-repeat;
      background-size: contain;
      -webkit-transform: translateY(150%);
      transform: translateY(150%);
      width: 28.53333vw;
      height: 2.66667vw; }
  .hidarikikinoEren .lp-loading.add-loaded {
    opacity: 0;
    visibility: hidden;
    -webkit-transition-delay: 1s;
    transition-delay: 1s; }
  .hidarikikinoEren .lp-loadingInner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    transition: -webkit-transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.8s cubic-bezier(0.19, 1, 0.22, 1); }
    .hidarikikinoEren .lp-loadingInner_item {
      display: block;
      width: 203.6vw;
      height: 100%;
      -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
      transition: -webkit-transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
      transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
      transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.4s cubic-bezier(0.19, 1, 0.22, 1); }
      .hidarikikinoEren .lp-loadingInner_item:before {
        -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
        transition: -webkit-transform 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
        transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
        transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0.4s, -webkit-transform 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0.4s; }
    .hidarikikinoEren .lp-loadingInner_item.add-loaded:before {
      -webkit-transform: scaleY(1) !important;
      transform: scaleY(1) !important; }
    .hidarikikinoEren .lp-loadingInner .mod-item1 {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      -webkit-transform: scaleX(0);
      transform: scaleX(0); }
      .hidarikikinoEren .lp-loadingInner .mod-item1:before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: #0e6cb2;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        -webkit-transform: scaleY(0.006);
        transform: scaleY(0.006); }
    .hidarikikinoEren .lp-loadingInner .mod-item2 {
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3; }
      .hidarikikinoEren .lp-loadingInner .mod-item2:before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: #fe3c00;
        -webkit-transition-delay: .2s;
        transition-delay: .2s;
        -webkit-transform: scaleY(0);
        transform: scaleY(0); }
    .hidarikikinoEren .lp-loadingInner .mod-item3 {
      display: none; }
    .hidarikikinoEren .lp-loadingInner .mod-item4 {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; }
      .hidarikikinoEren .lp-loadingInner .mod-item4:before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: #02d0d0;
        -webkit-transition-delay: .2s;
        transition-delay: .2s;
        -webkit-transform: scaleY(0);
        transform: scaleY(0); }
  .hidarikikinoEren .lp-header {
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    cursor: pointer;
    overflow: hidden;
    height: 12vw;
    -webkit-transition: visibility 0.4s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    transition: visibility 0.4s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    transition: visibility 0.4s cubic-bezier(0.19, 1, 0.22, 1), transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    transition: visibility 0.4s cubic-bezier(0.19, 1, 0.22, 1), transform 0.4s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.4s cubic-bezier(0.19, 1, 0.22, 1); }
  .hidarikikinoEren .lp-headerTicker {
    background-image: url("../../../data/hidari-kikino-eren/images/header_ticker.png");
    background-repeat: repeat-x;
    background-size: 49.64103vw 12vw;
    width: 100%;
    height: 100%;
    -webkit-animation: headerMoving 6s linear infinite;
    animation: headerMoving 6s linear infinite; }

@-webkit-keyframes headerMoving {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 268.88889px 0; } }

@keyframes headerMoving {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 268.88889px 0; } }
  .hidarikikinoEren .lp-menuBtn {
    position: fixed;
    right: 0;
    top: 0;
    width: 14vw;
    height: 14vw;
    background-color: #000;
    -webkit-transition: background-color 0.2s cubic-bezier(0.19, 1, 0.22, 1);
    transition: background-color 0.2s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 10; }
    .hidarikikinoEren .lp-menuBtn_open {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 5.6vw;
      height: 4.26667vw; }
      .hidarikikinoEren .lp-menuBtn_open > span {
        position: absolute;
        left: 0;
        right: 0;
        background-color: #fff;
        width: 100%;
        height: .533vw;
        -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
        transition: -webkit-transform 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
        transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
        transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0.2s, -webkit-transform 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0.2s; }
      .hidarikikinoEren .lp-menuBtn_open > span:nth-child(1) {
        -webkit-transform-origin: left center;
        transform-origin: left center;
        top: 0; }
      .hidarikikinoEren .lp-menuBtn_open > span:nth-child(2) {
        -webkit-transform-origin: center center;
        transform-origin: center center;
        top: 0;
        bottom: 0;
        margin: auto; }
      .hidarikikinoEren .lp-menuBtn_open > span:nth-child(3) {
        -webkit-transform-origin: right center;
        transform-origin: right center;
        bottom: 0; }
    .hidarikikinoEren .lp-menuBtn_close {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      width: 5.33333vw;
      height: 5.33333vw; }
      .hidarikikinoEren .lp-menuBtn_close:before, .hidarikikinoEren .lp-menuBtn_close:after {
        content: '';
        -webkit-transform-origin: top left;
        transform-origin: top left;
        background-color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
        transition: -webkit-transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
        transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
        transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.4s cubic-bezier(0.19, 1, 0.22, 1); }
      .hidarikikinoEren .lp-menuBtn_close:before {
        width: .5333vw;
        height: 100%;
        -webkit-transform: scaleY(0);
        transform: scaleY(0); }
      .hidarikikinoEren .lp-menuBtn_close:after {
        height: .5333vw;
        width: 100%;
        -webkit-transform: scaleX(0);
        transform: scaleX(0); }
  .hidarikikinoEren .lp-menuBtn.add-open {
    background-color: #e50013; }
    .hidarikikinoEren .lp-menuBtn.add-open .lp-menuBtn_open span {
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
    .hidarikikinoEren .lp-menuBtn.add-open .lp-menuBtn_close:before {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
      -webkit-transition-delay: .2s;
      transition-delay: .2s; }
    .hidarikikinoEren .lp-menuBtn.add-open .lp-menuBtn_close:after {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      -webkit-transition-delay: .4s;
      transition-delay: .4s; }
  .hidarikikinoEren .lp-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 82.4vw;
    background-color: #000;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    -webkit-transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1), visibility 0.4s cubic-bezier(0.19, 1, 0.22, 1), z-index 0.4s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1), visibility 0.4s cubic-bezier(0.19, 1, 0.22, 1), z-index 0.4s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1), visibility 0.4s cubic-bezier(0.19, 1, 0.22, 1), z-index 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1), visibility 0.4s cubic-bezier(0.19, 1, 0.22, 1), z-index 0.4s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.4s cubic-bezier(0.19, 1, 0.22, 1); }
    .hidarikikinoEren .lp-menu_wrap {
      position: absolute;
      width: 100%;
      height: 100%;
      min-height: 146.26667vw;
      padding: 18vw 4vw 4vw;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .hidarikikinoEren .lp-menu_nav {
      position: relative;
      width: 100%; }
      .hidarikikinoEren .lp-menu_nav > ul {
        width: 100%; }
        .hidarikikinoEren .lp-menu_nav > ul > li {
          width: 100%;
          height: 26.4vw;
          border-top-width: 0; }
        .hidarikikinoEren .lp-menu_nav > ul > li:first-child {
          border-width: .26667vw; }
    .hidarikikinoEren .lp-menu_sns {
      position: relative;
      width: 100%;
      height: 14.66667vw;
      margin-top: 4vw; }
      .hidarikikinoEren .lp-menu_sns > ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 100%; }
        .hidarikikinoEren .lp-menu_sns > ul > li {
          width: 33.3%;
          border-right-width: 0; }
        .hidarikikinoEren .lp-menu_sns > ul > li:last-child {
          border-width: .26667vw; }
      .hidarikikinoEren .lp-menu_sns svg {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 6.93333vw;
        height: 6.93333vw;
        fill: #fff; }
  .hidarikikinoEren .lp-menu.add-open {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    z-index: 9; }
  .hidarikikinoEren main {
    position: relative;
    width: 100%;
    padding-top: 12vw; }
  .hidarikikinoEren .lp-kv {
    position: relative;
    width: 100%;
    max-width: 1600px;
    padding-top: 14.933vw;
    overflow: hidden; }
    .hidarikikinoEren .lp-kv_characters {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      width: 542.93333vw;
      height: 112.26667vw;
      margin: auto;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
    .hidarikikinoEren .lp-kv .lp-character {
      position: relative;
      height: 100%;
      width: 67.86667vw; }
      .hidarikikinoEren .lp-kv .lp-character_inner {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
        -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
        transition: -webkit-transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
        transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
        transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.8s cubic-bezier(0.19, 1, 0.22, 1); }
      .hidarikikinoEren .lp-kv .lp-character_inner:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transition: background-color 0.8s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
        transition: background-color 0.8s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
        transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1), background-color 0.8s cubic-bezier(0.19, 1, 0.22, 1);
        transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1), background-color 0.8s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.8s cubic-bezier(0.19, 1, 0.22, 1); }
    .hidarikikinoEren .lp-kv .lp-character_inner.add-loaded:after {
      -webkit-transform: scaleY(0);
      transform: scaleY(0); }
    .hidarikikinoEren .lp-kv .mod-item1 .lp-character_inner {
      background-image: url("../../../data/hidari-kikino-eren/images/kv_img1.jpg");
      -webkit-transition-delay: .1s;
      transition-delay: .1s; }
    .hidarikikinoEren .lp-kv .mod-item1 .lp-character_inner:after {
      background-color: #0e6cb2;
      -webkit-transform-origin: bottom center;
      transform-origin: bottom center; }
    .hidarikikinoEren .lp-kv .mod-item2 .lp-character_inner {
      background-image: url("../../../data/hidari-kikino-eren/images/kv_img2.jpg");
      -webkit-transition-delay: .2s;
      transition-delay: .2s; }
    .hidarikikinoEren .lp-kv .mod-item2 .lp-character_inner:after {
      background-color: #fe3c00;
      -webkit-transform-origin: top center;
      transform-origin: top center; }
    .hidarikikinoEren .lp-kv .mod-item3 .lp-character_inner {
      background-image: url("../../../data/hidari-kikino-eren/images/kv_img3.jpg");
      -webkit-transition-delay: .3s;
      transition-delay: .3s; }
    .hidarikikinoEren .lp-kv .mod-item3 .lp-character_inner:after {
      background-color: #deff00;
      -webkit-transform-origin: bottom center;
      transform-origin: bottom center; }
    .hidarikikinoEren .lp-kv .mod-item4 .lp-character_inner {
      background-image: url("../../../data/hidari-kikino-eren/images/kv_img4.jpg");
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
    .hidarikikinoEren .lp-kv .mod-item4 .lp-character_inner:after {
      background-color: #02d0d0;
      -webkit-transform-origin: top center;
      transform-origin: top center; }
    .hidarikikinoEren .lp-kv > h1 {
      position: absolute;
      left: 0;
      bottom: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .hidarikikinoEren .lp-kv_title {
      background-color: #000;
      font-size: 6.933vw;
      padding: .6em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .hidarikikinoEren .lp-kv_name {
      position: absolute;
      width: 70vw;
      height: 15.333vw;
      top: 2.6667vw;
      left: 2.6667vw; }
    .hidarikikinoEren .lp-kv .mod-title1 img {
      width: 5.73333vw; }
    .hidarikikinoEren .lp-kv .mod-title2 img {
      height: 5.6vw; }
  .hidarikikinoEren .lp-summery {
    position: relative;
    width: 100%;
    max-width: 1600px;
    margin: 14.6667vw auto auto; }
    .hidarikikinoEren .lp-summery_heading {
      position: relative;
      background-color: #deff00;
      background-image: url("../../../data/hidari-kikino-eren/images/summary_heading_bg.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100vw;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      overflow: hidden; }
    .hidarikikinoEren .lp-summery_headingInner {
      position: relative;
      z-index: 1;
      left: 4vw; }
      .hidarikikinoEren .lp-summery_headingInner > h2 {
        position: absolute;
        top: -3.33333vw;
        left: 4vw;
        width: 9.73333vw;
        background-color: #000;
        padding: 3.2vw 2.66667vw;
        z-index: 2; }
        .hidarikikinoEren .lp-summery_headingInner > h2 img {
          display: block;
          width: 3.86667vw; }
    .hidarikikinoEren .lp-summery_headingDesc {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
    .hidarikikinoEren .lp-summery_descLine {
      position: relative;
      display: inline-block;
      font-size: 2.93333vw;
      font-weight: bold;
      line-height: 1.8;
      letter-spacing: .06em;
      white-space: nowrap;
      margin-top: -.04em;
      padding: .4em .4em .4em 7.6em;
      background-color: #deff00;
      -webkit-transform-origin: top left;
      transform-origin: top left;
      -webkit-transform: scaleX(0.9);
      transform: scaleX(0.9); }
      .hidarikikinoEren .lp-summery_descLine:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: #deff00; }
    .hidarikikinoEren .lp-summery_relationship {
      position: relative;
      width: 100%; }
      .hidarikikinoEren .lp-summery_relationship:before {
        content: "";
        display: block;
        width: 100%;
        padding-top: 100%; }
      .hidarikikinoEren .lp-summery_relationship figure {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
  .hidarikikinoEren .lp-story {
    position: relative;
    width: 100%;
    margin-top: 13.33333vw;
    padding-top: 5.33333vw; }
    .hidarikikinoEren .lp-story_inner {
      background-image: url("../../../data/hidari-kikino-eren/images/story_pattern.jpg");
      background-repeat: repeat;
      background-position: 50%;
      background-size: 360px 365px; }
    .hidarikikinoEren .lp-story_tabs {
      position: relative;
      height: 19.45946vw; }
      .hidarikikinoEren .lp-story_tabs:before {
        content: "";
        position: absolute;
        background-color: #e50013;
        border-color: #deff00;
        border-width: .8vw;
        height: 100%;
        width: 4.26667vw; }
    .hidarikikinoEren .lp-story_tab {
      position: absolute;
      top: 0;
      display: block;
      width: 45.33333vw;
      height: 100%;
      background-color: #000;
      padding: 1.2vw 1.2vw 0;
      z-index: 2; }
      .hidarikikinoEren .lp-story_tab:nth-child(1) {
        left: 4vw; }
      .hidarikikinoEren .lp-story_tab:nth-child(2) {
        right: 4vw; }
    .hidarikikinoEren .lp-story .btn {
      border: none; }
      .hidarikikinoEren .lp-story .btn_inner {
        border: .26667vw #fff;
        border-style: solid solid none; }
      .hidarikikinoEren .lp-story .btn_inner svg {
        left: 1.46667vw;
        width: 3.6vw;
        height: 2.13333vw; }
    .hidarikikinoEren .lp-story_label {
      color: #fff;
      font-size: 4.26667vw;
      font-weight: 500;
      letter-spacing: .14em;
      white-space: nowrap; }
      .hidarikikinoEren .lp-story_label > span {
        font-size: 58%;
        line-height: 1.4;
        letter-spacing: .14em;
        margin-top: .8em; }
    .hidarikikinoEren .lp-story_contents {
      position: relative; }
    .hidarikikinoEren .lp-story_pages {
      margin: auto;
      padding: 9.33333vw 4vw; }
      .hidarikikinoEren .lp-story_pages > li:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 141.40625%;
        background-color: #fff; }
