.hidarikikinoEren{

  // opening NowLoading画面 共通
  .p-loading.is-loaded {
    opacity: 0;
    visibility: hidden;
    transition-delay: 1s;

    .p-loading_wrap {
      transform: translate(-50%, 0) !important;
      transition: transform .8s cubic-bezier(.19,1,.22,1);
    }

    .p-loading_text {
      opacity: 0;
    }
  }

  // progreess-guage 縦に展開 共通
  .p-loadingInner {
    &_item.is-loaded:before {
      transform: scaleY(1) !important;
    }
  }

  // header sticky 共通
  .p-header.is-hide {
    transform: translateY(-100%);
    opacity: 0;
  }

  // menuボタン mobile用
  .p-menuBtn.is-open {
    background-color: #e50013;
    .p-menuBtn_open span {
      transform: scaleX(0);
      transition-delay: 0s;
    }
    .p-menuBtn_close:before {
      transform: scaleY(1);
      transition-delay: .2s;
    }
    .p-menuBtn_close:after {
      transform: scaleX(1);
      transition-delay: .4s;
    }
  }

  // menuOpen mobile用
  .p-menu.is-open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    z-index: 9;
  }

  // loading後 KVキャラonScreen & h1テキストフェードイン 共通
  .p-kv.is-onScreenItem.is-onScreen {
    .p-character_inner {
      transform: translateY(0);
      &:after {
        transform: scaleY(0);
      }
    }
    .p-kv_title.mod-title1 {
      transform: scaleY(1);
      &:after {
        transform: scaleY(0);
      }
    }
    .p-kv_title.mod-title2 {
      transform: scaleX(1);
      &:after {
        transform: scaleX(0);
      }
    }
  }

  // loop中 KVキャラonScreen & closeを繰り返し mobile用
  .p-kv.is-onScreenItem.is-onScreen.is-closed {
    .p-character.mod-item1 >.p-character_inner, .p-character.mod-item3 >.p-character_inner {
      transform: translateY(-20%);
    }
    .p-character.mod-item2 >.p-character_inner, .p-character.mod-item4 >.p-character_inner {
      transform: translateY(20%);
    }
    .p-character_inner:after {
      transform: scaleY(1) !important; //is-onScreenを上書き
    }
  }

  // p-summury あらすじ部 フェードイン 共通
  .p-summery_heading.is-onScreen {
    .p-summery_title {
      transform: scaleY(1);
      &:after {
        transform: scaleY(0);
      }
    }
    .p-summery_descLine {
      transform: scaleX(0.9);
      &:after {
        transform: scaleX(0);
      }
    }
  }

  // p-result 朝日新聞掲載〜部 フェードイン 共通
  .p-result_inner.is-onScreen {
    .p-resultTitle_inner, .p-resultDate_label, .p-resultDate_day {
      transform: scaleX(1);
      &:after {
        transform: scaleX(0);
      }
    }
    .p-resultDesc_line {
      transform: scaleX(.9);
      &:after {
        transform: scaleX(0);
      }
    }
  }
  
  // loop中処理 mobile用
  .is-step1.p-kv_characters {
    @include mediaQuery(mobile) {
      &:nth-child(3) {
        .p-character_inner, &:after {
          transition-delay: .1s;
        }
      }
    
      &:nth-child(7) {
        .p-character_inner, &:after {
          transition-delay: .1s;
        }
      }
    
      &:nth-child(4) {
        .p-character_inner, &:after {
          transition-delay: .2s;
        }
      }
    
      &:nth-child(8) {
        .p-character_inner, &:after {
          transition-delay: .2s;
        }
      }
    
      &:first-child {
        .p-character_inner, &:after {
          transition-delay: .3s;
        }
      }
    
      &:nth-child(5) {
        .p-character_inner, &:after {
          transition-delay: .3s;
        }
      }
    
      &:nth-child(2) {
        .p-character_inner, &:after {
          transition-delay: 0s;
        }
      }
  
      &:nth-child(6) {
        .p-character_inner, &:after {
          transition-delay: 0s;
        }
      }
    }
  }


  .is-step2.p-kv_characters {
    &:nth-child(3) {
      .p-character_inner, &:after {
        transition-delay: 0s;
      }
    }
  
    &:nth-child(7) {
      .p-character_inner, &:after {
        transition-delay: 0s;
      }
    }
  
    &:nth-child(4) {
      .p-character_inner, &:after {
        transition-delay: .1s;
      }
    }
  
    &:nth-child(8) {
      .p-character_inner, &:after {
        transition-delay: .1s;
      }
    }
  
    &:first-child {
      .p-character_inner, &:after {
        transition-delay: .2s;
      }
    }
  
    &:nth-child(5) {
      .p-character_inner, &:after {
        transition-delay: .2s;
      }
    }
  
    &:nth-child(2) {
      .p-character_inner, &:after {
        transition-delay: .3s;
      }
    }
  
    &:nth-child(6) {
      .p-character_inner, &:after {
        transition-delay: .3s;
      }
    }
  }


  .is-step3.p-kv_characters {
    &:nth-child(3) {
      .p-character_inner, &:after {
        transition-delay: .3s;
      }
    }
  
    &:nth-child(7) {
      .p-character_inner, &:after {
        transition-delay: .3s;
      }
    }
  
    &:nth-child(4) {
      .p-character_inner, &:after {
        transition-delay: 0s;
      }
    }
  
    &:nth-child(8) {
      .p-character_inner, &:after {
        transition-delay: 0s;
      }
    }
  
    &:first-child {
      .p-character_inner, &:after {
        transition-delay: .1s;
      }
    }
  
    &:nth-child(5) {
      .p-character_inner, &:after {
        transition-delay: .1s;
      }
    }
  
    &:nth-child(2) {
      .p-character_inner, &:after {
        transition-delay: .2s;
      }
    }
  
    &:nth-child(6) {
      .p-character_inner, &:after {
        transition-delay: .2s;
      }
    }
  }


  .is-step4.p-kv_characters {
    &:nth-child(3) {
      .p-character_inner, &:after {
        transition-delay: .2s;
      }
    }
  
    &:nth-child(7) {
      .p-character_inner, &:after {
        transition-delay: .2s;
      }
    }
  
    &:nth-child(4) {
      .p-character_inner, &:after {
        transition-delay: .3s;
      }
    }
  
    &:nth-child(8) {
      .p-character_inner, &:after {
        transition-delay: .3s;
      }
    }
  
    &:first-child {
      .p-character_inner, &:after {
        transition-delay: 0s;
      }
    }
  
    &:nth-child(5) {
      .p-character_inner, &:after {
        transition-delay: 0s;
      }
    }
  
    &:nth-child(2) {
      .p-character_inner, &:after {
        transition-delay: .1s;
      }
    }
  
    &:nth-child(6) {
      .p-character_inner, &:after {
        transition-delay: .1s;
      }
    }
  }
}  