.hidarikikinoEren{

  .lp-loading.is-loaded {
    opacity: 0;
    visibility: hidden;
    transition-delay: 1s;

    .lp-loading_wrap {
      transform: translate(-50%, 0) !important;
      transition: transform .8s cubic-bezier(.19,1,.22,1);
    }

    .lp-loading_text {
      opacity: 0;
    }
  }

  .lp-loadingInner {
    &_item.is-loaded:before {
      transform: scaleY(1) !important;
    }
  }

  .lp-header.is-hide {
    transform: translateY(-100%);
    opacity: 0;
  }

  .lp-menuBtn.is-open {
    background-color: #e50013;
    .lp-menuBtn_open span {
      transform: scaleX(0);
      transition-delay: 0s;
    }
    .lp-menuBtn_close:before {
      transform: scaleY(1);
      transition-delay: .2s;
    }
    .lp-menuBtn_close:after {
      transform: scaleX(1);
      transition-delay: .4s;
    }
  }

  .lp-menu.is-open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    z-index: 9;
  }

  .lp-kv.is-onScreenItem.is-onScreen {
    .lp-character_inner:after {
      transform: scaleY(0);
    }
    .lp-kv_title.mod-title1 {
      transform: scaleY(1);
      &:after {
        transform: scaleY(0);
      }
    }
    .lp-kv_title.mod-title2 {
      transform: scaleX(1);
      &:after {
        transform: scaleX(0);
      }
    }
  }

  .lp-kv.is-onScreenItem.is-onScreen.is-closed {
    .lp-character.mod-item1 >.lp-character_inner, .lp-character.mod-item3 >.lp-character_inner {
      transform: translateY(-20%);
    }
    .lp-character.mod-item2 >.lp-character_inner, .lp-character.mod-item4 >.lp-character_inner {
      transform: translateY(20%);
    }
    .lp-character_inner:after {
      transform: scaleY(1) !important; //is-onScreenを上書き
    }
  }

  .lp-summery_heading.is-onScreen {
    .lp-summery_title {
      transform: scaleY(1);
      &:after {
        transform: scaleY(0);
      }
    }
    .lp-summery_descLine {
      transform: scaleX(0.9);
      &:after {
        transform: scaleX(0);
      }
    }
  }

  .lp-result_inner.is-onScreen {
    .lp-resultTitle_inner, .lp-resultDate_label, .lp-resultDate_day {
      transform: scaleX(1);
      &:after {
        transform: scaleX(0);
      }
    }
    .lp-resultDesc_line {
      transform: scaleX(.9);
      &:after {
        transform: scaleX(0);
      }
    }
  }
  
  .is-step1.lp-kv_characters {
    &:nth-child(3) {
      .lp-character_inner, &:after {
        transition-delay: .1s;
      }
    }
  
    &:nth-child(7) {
      .lp-character_inner, &:after {
        transition-delay: .1s;
      }
    }
  
    &:nth-child(4) {
      .lp-character_inner, &:after {
        transition-delay: .2s;
      }
    }
  
    &:nth-child(8) {
      .lp-character_inner, &:after {
        transition-delay: .2s;
      }
    }
  
    &:first-child {
      .lp-character_inner, &:after {
        transition-delay: .3s;
      }
    }
  
    &:nth-child(5) {
      .lp-character_inner, &:after {
        transition-delay: .3s;
      }
    }
  
    &:nth-child(2) {
      .lp-character_inner, &:after {
        transition-delay: 0s;
      }
    }

    &:nth-child(6) {
      .lp-character_inner, &:after {
        transition-delay: 0s;
      }
    }
  }


  .is-step2.lp-kv_characters {
    &:nth-child(3) {
      .lp-character_inner, &:after {
        transition-delay: 0s;
      }
    }
  
    &:nth-child(7) {
      .lp-character_inner, &:after {
        transition-delay: 0s;
      }
    }
  
    &:nth-child(4) {
      .lp-character_inner, &:after {
        transition-delay: .1s;
      }
    }
  
    &:nth-child(8) {
      .lp-character_inner, &:after {
        transition-delay: .1s;
      }
    }
  
    &:first-child {
      .lp-character_inner, &:after {
        transition-delay: .2s;
      }
    }
  
    &:nth-child(5) {
      .lp-character_inner, &:after {
        transition-delay: .2s;
      }
    }
  
    &:nth-child(2) {
      .lp-character_inner, &:after {
        transition-delay: .3s;
      }
    }
  
    &:nth-child(6) {
      .lp-character_inner, &:after {
        transition-delay: .3s;
      }
    }
  }


  .is-step3.lp-kv_characters {
    &:nth-child(3) {
      .lp-character_inner, &:after {
        transition-delay: .3s;
      }
    }
  
    &:nth-child(7) {
      .lp-character_inner, &:after {
        transition-delay: .3s;
      }
    }
  
    &:nth-child(4) {
      .lp-character_inner, &:after {
        transition-delay: 0s;
      }
    }
  
    &:nth-child(8) {
      .lp-character_inner, &:after {
        transition-delay: 0s;
      }
    }
  
    &:first-child {
      .lp-character_inner, &:after {
        transition-delay: .1s;
      }
    }
  
    &:nth-child(5) {
      .lp-character_inner, &:after {
        transition-delay: .1s;
      }
    }
  
    &:nth-child(2) {
      .lp-character_inner, &:after {
        transition-delay: .2s;
      }
    }
  
    &:nth-child(6) {
      .lp-character_inner, &:after {
        transition-delay: .2s;
      }
    }
  }


  .is-step4.lp-kv_characters {
    &:nth-child(3) {
      .lp-character_inner, &:after {
        transition-delay: .2s;
      }
    }
  
    &:nth-child(7) {
      .lp-character_inner, &:after {
        transition-delay: .2s;
      }
    }
  
    &:nth-child(4) {
      .lp-character_inner, &:after {
        transition-delay: .3s;
      }
    }
  
    &:nth-child(8) {
      .lp-character_inner, &:after {
        transition-delay: .3s;
      }
    }
  
    &:first-child {
      .lp-character_inner, &:after {
        transition-delay: 0s;
      }
    }
  
    &:nth-child(5) {
      .lp-character_inner, &:after {
        transition-delay: 0s;
      }
    }
  
    &:nth-child(2) {
      .lp-character_inner, &:after {
        transition-delay: .1s;
      }
    }
  
    &:nth-child(6) {
      .lp-character_inner, &:after {
        transition-delay: .1s;
      }
    }
  }
}  