$breakpoints: (
  'smallDesktop': 'screen and (min-width: 800px)',
  'mediumDesktop': 'screen and (min-width: 800px) and (max-width: 1100px)',
  'wideDesktop':'screen and (min-width: 1600px)'
) !default;

@mixin mediaQuery($breakpoint: smallDesktop) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.mod-displayNone_smallDesktop {
  @include mediaQuery($breakpoint: smallDesktop) {
    display: none !important;
  }
}

.mod-displayNone_mediumDesktop {
  @include mediaQuery($breakpoint: mediumDesktop) {
    display: none !important;
  }
}

.mod-displayNone_wideDesktop {
  @include mediaQuery($breakpoint: wideDesktop) {
    display: none !important;
  }
}



