/*
以下のDOM構造で使用

<div class="buttonSquare">
  <a class="buttonSquare_inner" href="">
    <span>トップ</span>
    <svg>
      <use xlink:href="#arrow">
    </svg>
  </a>
</div>

*/


.tab {
  position: absolute;
  display: block;
  width: 45.33333vw;
  height: 100%;
  background-color: #000;
  padding: 1.2vw 1.2vw 0;
  top: 0;
  z-index: 2;
  transition: background-color .4s cubic-bezier(.19,1,.22,1),
              border-color .4s cubic-bezier(.19,1,.22,1);

  &_inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .26667vw #fff;
    border-style: solid solid none;
    overflow: hidden;
    @include mediaQuery {
      border-width: .06944vw;
      &:before, &:after {
        position: absolute;
        content: '';
        display: block;
        width: 101%;
        height: 51%;
        background-color: #02d0d0;
        transition: transform .4s cubic-bezier(.19,1,.22,1);
        transform: scaleX(0);
        backface-visibility: hidden;
        z-index: 0;
      }
      &:before {
        top: 0;
        left: 0;
        transform-origin: center right;
      }
      &:after {
        top: auto;
        bottom: 0;
        transform-origin: center left;
      }
      &:hover {
        &:before, &:after {
          transform: scaleX(1);
        }
      }
    }

    

    > span {
      color: #fff;
      transform: scaleX(.85);
      position: relative;
      z-index: 2;
      display: block;
      letter-spacing: .14em;
      font-weight: 500;
      font-size: 4.26667vw;
      white-space: nowrap;
      line-height: 1;
      transition: color .4s cubic-bezier(.19,1,.22,1);
    }

    > svg {
      position: absolute;
      top: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
      fill: #e50013;
      display: block;
      transition: fill .4s cubic-bezier(.19,1,.22,1),
                  transform .4s cubic-bezier(.19,1,.22,1),
                  opacity .4s cubic-bezier(.19,1,.22,1);
      z-index: 2;
      left: 1.46667vw;
      width: 3.6vw;
      height: 2.13333vw;
      @include mediaQuery(smallDesktop) {
        left: .69444vw;
        width: 1.38889vw;
        height: .79861vw;
      }
    }
  }
}

.buttonSquare { //buttonSquare と buttonSquare_innerをセットで使用
  position: relative;
  width: 100%;
  height: 100%;
  border: solid .26667vw #fff;
  border-width: .26667vw;
  background-color: #000;
  overflow: hidden;
  cursor: pointer;
  @include mediaQuery {
    border: solid .06944vw #fff;
    border-width: .06944vw;
  }

  &:before, &:after {
    position: absolute;
    content: '';
    display: block;
    background-color: #02d0d0;
    transition: transform .4s cubic-bezier(.19,1,.22,1);
    backface-visibility: hidden;
    z-index: 0;
  }

  &_inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  &_label {  //テキストに付与するクラス
    position: relative;
    color: #fff;
    font-size: 5.06667vw;
    letter-spacing: .16em;
    text-indent: .16em;
    transition: color .4s cubic-bezier(.19,1,.22,1);
    transform: scaleX(.85);
    z-index: 2;
    @include mediaQuery {
      font-size: .90278vw;
    }
    @include mediaQuery(mediumDesktop) {
      font-size: 1.40541vw;
    }
  }

  &_squareIcon { //svgアイコンに付与するクラス
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 6.93333vw; //正方形
    height: 6.93333vw;
    fill: #fff;
    margin: auto;
    z-index: 2;
    @include mediaQuery {
      display: block;
      width: 1.45833vw;
      height: 1.45833vw;
    }
  }

  &_leftArrow { //svg leftArrowに付与するクラス
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: 3.2vw;
    width: 5.33333vw;
    height: 3.06667vw;
    fill: #e50013;
    margin: auto;
    display: block;
    z-index: 2;
  }
  

  &:hover {
    .buttonSquare_label {
      color: #e50013;
      transition-duration: .1s;
    }
    .buttonSquare_squareIcon {
      fill: #e50013;
      transition-duration: .1s;
    }
  }
}

.buttonSquare.mod-vText { // テキストを縦にする
  .buttonSquare_label {
    @include mediaQuery {
      writing-mode: vertical-rl !important;
      text-align: center !important;
      letter-spacing: .2em !important;
      text-indent: .2em !important;
    }
  }
}

.buttonSquare.mod-animeH {
  &:before, &:after {
    width: 101%;
    height: 51%;
    transform: scaleX(0);
  }
  &:before {
    top: 0;
    left: 0;
    transform-origin: center left;
  }
  &:after {
    top: auto;
    bottom: 0;
    transform-origin: center right;
  }
  &:hover {
    &:before, &:after {
      transform: scaleX(1);
    }
  }  
}

.buttonSquare.mod-animeV {
  &:before, &:after {
    width: 51%;
    height: 102%;
    transform: scaleY(0);
    transform-origin: top center;
    top: 0;
    left: 0;
  }
  
  &:after {
    transform-origin: bottom center;
    top: auto;
    right: 0;
    bottom: 0;
    left: auto; 
  }
  &:hover {
    &:before, &:after {
      transform: scaleY(1);
    }
  }
}