.buttonSquare {
  position: relative;
  border: solid .26667vw #fff;
  background-color: #000;
  width: 100%;
  height: 26.4vw;
  transition: background-color .4s cubic-bezier(.19,1,.22,1);
  transform: translateZ(0); //ちらつき防止
  backface-visibility: hidden; //ちらつき防止
  overflow: hidden;
  @include mediaQuery {
    border: solid .06944vw #fff;
    border-width: .06944vw;
    height: 7.77778vw;
  }
  @include mediaQuery(mediumDesktop) {
    height: 12.10811vw;
  }

  &:before, &:after {
    position: absolute;
    content: '';
    display: block;
    width: 101%;
    height: 51%;
    background-color: #02d0d0;
    transition: transform .4s cubic-bezier(.19,1,.22,1);
    transform: scaleX(0);
    backface-visibility: hidden;
    z-index: 0;
    @include mediaQuery {
      width: 51%;
      height: 102%;
      transform: scaleY(0);
    }
  }
  &:before {
    top: 0;
    left: 0;
    transform-origin: center left;
    @include mediaQuery {
      transform-origin: bottom center;
    }
  }
  &:after {
    top: auto;
    bottom: 0;
    transform-origin: center right;
    @include mediaQuery {
      right: 0;
      left: auto; 
      transform-origin: top center;
    }
  }
  &:hover {
    &:before, &:after {
      transform: scaleX(1);
    }
  }

  &_inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    > span {
      position: relative;
      color: #fff;
      font-size: 5.06667vw;
      letter-spacing: .16em;
      text-indent: .16em;
      transition: color .4s cubic-bezier(.19,1,.22,1);
      transform: scaleX(.85);
      z-index: 2;
      @include mediaQuery {
        font-size: .90278vw;
        writing-mode: vertical-rl;
        text-align: center;
        letter-spacing: .2em;
        text-indent: .2em;
      }
      @include mediaQuery(mediumDesktop) {
        font-size: 1.40541vw;
      }
    }

    > svg {
      position: absolute;
      top: 0;
      right: auto;
      bottom: 0;
      left: 3.2vw;
      width: 5.33333vw;
      height: 3.06667vw;
      fill: #e50013;
      margin: auto;
      display: block;
      z-index: 2;
      @include mediaQuery {
        display: none;
      }

      &:hover {
        fill: #e50013;
        transition-duration: .1s;
      }
    }
  }

  &_inner:hover {
    > span {
      color: #e50013;
      transition-duration: .1s;
    }
  }

  @include mediaQuery { //desktopのみホバーイベント
    &:hover {
      &:before, &:after {
        transform: scaleY(1);
      }
    }
  }
}

// button 「投票結果」
.buttonSquare.mod-vote {
  background-color: #02d0d0;
  span {
    color: #e50013;
  }
  &:before, &:after {
    background-color: #e50013;
  }
  .buttonSquare_inner:hover {
    > span {
      color: #02d0d0;
    }
    > svg {
      fill:  #02d0d0;
    }
  }
}

// button SNS
.buttonSquare.mod-sns {
  height: 100%;

  svg {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 6.93333vw;
    height: 6.93333vw;
    fill: #fff;
    @include mediaQuery {
      display: block;
      width: 1.45833vw;
      height: 1.45833vw;
    }
  }

  .buttonSquare_inner:hover {
    > svg {
      fill:  #e50013;
    }
  }

  @include mediaQuery {
    &:before, &:after {
      position: absolute;
      content: '';
      display: block;
      width: 101%;
      height: 51%;
      background-color: #02d0d0;
      transition: transform .4s cubic-bezier(.19,1,.22,1);
      transform: scaleX(0);
      backface-visibility: hidden;
      z-index: 0;
    }
    &:before {
      top: 0;
      left: 0;
      transform-origin: center left;
    }
    &:after {
      top: auto;
      bottom: 0;
      transform-origin: center right;
    }
    &:hover {
      &:before, &:after {
        transform: scaleX(1);
      }
    }
  }


}

/*
以下のDOM構造で使用

<div class="btn">
  <a class="btn_inner" href="">
    <span>トップ</span>
    <svg>
      <use xlink:href="#arrow">
    </svg>
  </a>
</div>

*/


.tab {
  position: absolute;
  display: block;
  width: 45.33333vw;
  height: 100%;
  background-color: #000;
  padding: 1.2vw 1.2vw 0;
  top: 0;
  z-index: 2;
  transition: background-color .4s cubic-bezier(.19,1,.22,1),
              border-color .4s cubic-bezier(.19,1,.22,1);

  &_inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .26667vw #fff;
    border-style: solid solid none;
    overflow: hidden;
    @include mediaQuery {
      border-width: .06944vw;
      &:before, &:after {
        position: absolute;
        content: '';
        display: block;
        width: 101%;
        height: 51%;
        background-color: #02d0d0;
        transition: transform .4s cubic-bezier(.19,1,.22,1);
        transform: scaleX(0);
        backface-visibility: hidden;
        z-index: 0;
      }
      &:before {
        top: 0;
        left: 0;
        transform-origin: center right;
      }
      &:after {
        top: auto;
        bottom: 0;
        transform-origin: center left;
      }
      &:hover {
        &:before, &:after {
          transform: scaleX(1);
        }
      }
    }
    @include mediaQuery(wideDesktop) {
      border-width: 1.11111px;
    }

    

    > span {
      color: #fff;
      transform: scaleX(.85);
      position: relative;
      z-index: 2;
      display: block;
      letter-spacing: .14em;
      font-weight: 500;
      font-size: 4.26667vw;
      white-space: nowrap;
      line-height: 1;
      transition: color .4s cubic-bezier(.19,1,.22,1);
    }

    > svg {
      position: absolute;
      top: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
      fill: #e50013;
      display: block;
      transition: fill .4s cubic-bezier(.19,1,.22,1),
                  transform .4s cubic-bezier(.19,1,.22,1),
                  opacity .4s cubic-bezier(.19,1,.22,1);
      z-index: 2;
      left: 1.46667vw;
      width: 3.6vw;
      height: 2.13333vw;
      @include mediaQuery(smallDesktop) {
        left: .69444vw;
        width: 1.38889vw;
        height: .79861vw;
      }
      @include mediaQuery(wideDesktop) {
        left: 11.11111px;
        width: 22.22222px;
        height: 12.77778px;
      }
    }
  }
}
