// 共通のカラーテーマ 
$background: #fef6e4;  // background
$main: #f3d2c1; // background
$secondary: #8bd3dd;
$headLine: #001858; // buttonText
$paragraph: #172c66;
$highLight: #fef6e4; // button
$tertiary: #f582ae;

// from https://www.happyhues.co/palettes/17