@charset "UTF-8";
/*
  html5doctor.com Reset Stylesheet
  v1.6.1
  Last Updated: 2010-09-17
  Author: Richard Clark - http://richclarkdesign.com
  Twitter: @rich_clark
  */
@import url("https://fonts.googleapis.com/css?family=Lato|Noto+Sans+JP&display=swap");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* 独自で追加 */
img {
  width: 100%; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Component 
-----------------------------------------------------------------*/
/* Project
-----------------------------------------------------------------*/
body {
  font-family: 'Lato', 'Noto Sans JP','ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;;
  color: #333333; }

.p-sectionTitle {
  font-size: 30px;
  font-weight: 200;
  letter-spacing: 1.4px; }

.p-topMain {
  width: 1100px;
  margin: 0 auto;
  padding: 150px 0 100px; }
  .p-topMain header > h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 200;
    letter-spacing: 0.2em; }
  .p-topMain .p-anchorList {
    text-align: center;
    margin-top: 40px; }
    .p-topMain .p-anchorList > li {
      display: inline-block;
      margin: 0 1em;
      font-size: 15px; }
  .p-topMain .p-profile {
    padding: 50px 100px;
    margin-top: 100px; }
    .p-topMain .p-profile__content {
      margin-top: 45px;
      padding: 0 10px; }
      .p-topMain .p-profile__content > dl {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
      .p-topMain .p-profile__content dd, .p-topMain .p-profile__content dt {
        display: inline-block; }
      .p-topMain .p-profile__content dt {
        font-size: 14px;
        line-height: 1.7;
        width: 20%; }
      .p-topMain .p-profile__content dd {
        font-size: 14px;
        line-height: 1.7;
        width: 80%;
        padding-bottom: 15px; }
  .p-topMain .p-works {
    padding: 50px 100px; }
    .p-topMain .p-works__list {
      margin-top: 45px;
      padding: 0 10px;
      list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .p-topMain .p-works__list > li {
        width: calc(50% - 25px);
        margin: 0 auto; }
        .p-topMain .p-works__list > li:first-child {
          margin-right: 50px; }
      .p-topMain .p-works__list > li a {
        display: block;
        width: 100%; }
      .p-topMain .p-works__list img {
        border: 1px solid #e0e0e0; }
    .p-topMain .p-works__text {
      margin-top: 10px;
      font-size: 14px;
      line-height: 1.7;
      font-weight: 200; }
  .p-topMain .p-skills {
    padding: 50px 100px; }
    .p-topMain .p-skills > p {
      margin-top: 45px;
      font-size: 14px;
      line-height: 1.7; }

/* Utility
-----------------------------------------------------------------*/
